.center {
  margin: 0 auto;
  text-align: center;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}

@font-face {
  font-family: 'OpenSansLight';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans"), url("/fonts/opensanslight.woff2") format("woff2"), url("/fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: 'OpenSansRegular';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("/fonts/opensans.woff2") format("woff2"), url("/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: 'OpenSansSemibold';
  font-style: normal;
  font-weight: 500;
  src: local("Open Sans"), url("/fonts/opensanssemibold.woff2") format("woff2"), url("/fonts/opensanssemibold.woff") format("woff");
}

@font-face {
  font-family: 'OpenSansBold';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans"), url("/fonts/opensansbold.woff2") format("woff2"), url("/fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: 'OpenSansExtraBold';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans"), url("./fonts/opensansextrabold.woff2") format("woff2"), url("./fonts/opensansextrabold.woff") format("woff");
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: "OpenSans", "Arial", "Helvetica", sans-serif;
  color: #000000;
}

h2 {
  font-weight: 400;
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

a {
  color: #777777;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-content {
  flex: 1;
  padding-bottom: 40px;
}

.main-content__product-videos {
  margin-bottom: 100px;
}

.main-content__product-info {
  margin-bottom: 100px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.button {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 160px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background: none;
  border: none;
}

.button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background-color: #4db6ac;
  transition-duration: 0.2s;
  transition-property: transform;
}

.button:hover,
.button:focus {
  background-color: transparent;
  color: #FFFFFF;
}

.button:hover::before,
.button:focus::before {
  transform: scaleY(5);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button:active::before {
  color: rgba(0, 0, 0, 0.3);
}

.btn {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 10px 60px;
  color: #fff;
  border: 1px solid #4db6ac;
  border-radius: 3px;
  background-color: #4db6ac;
  transition: all .3s;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.btn--green-border-hover:hover,
.btn--green-border-hover:focus {
  color: #4db6ac;
  border: 1px solid #4db6ac;
  background-color: transparent;
}

.main-header {
  position: relative;
  color: #ffffff;
  z-index: 1;
}

.main-header__address {
  display: none;
}

.main-header__container {
  position: relative;
  border-bottom: 1px solid #f2f2f2;
}

.main-header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header--green {
  background-color: #4db6ac;
}

@media (max-width: 767px) {
  .main-header__phone {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-header__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
  }

  .main-header__logo {
    padding: 0;
  }

  .main-header__phone {
    margin-left: auto;
  }

  .main-header--green .main-header__container {
    padding-bottom: 11px;
  }
}

@media (min-width: 1280px) {
  .main-header__container {
    align-content: flex-end;
  }

  .main-header__phone {
    margin-left: 0;
  }

  .main-header__address {
    display: block;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .main-nav__submenu {
    display: none;
  }

  .main-nav {
    margin-right: -20px;
    margin-left: -20px;
  }

  .main-nav__toggle {
    position: absolute;
    top: 27px;
    right: 20px;
    display: block;
    width: 24px;
    height: 18px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .main-nav__toggle:focus {
    outline: none;
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }

  .main-nav--open .main-nav__toggle::before,
  .main-nav--open .main-nav__toggle::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #000000;
  }

  .main-nav--open .main-nav__toggle::before {
    transform: rotate(45deg);
  }

  .main-nav--open .main-nav__toggle::after {
    transform: rotate(-45deg);
  }

  .main-header--green .main-nav--closed .main-nav__toggle::before {
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }

  .main-header--green .main-nav--open .main-nav__toggle::before,
  .main-header--green .main-nav--open .main-nav__toggle::after {
    background-color: #ffffff;
  }
}

@media (min-width: 768px) {
  .main-nav {
    width: 100%;
    margin-top: 10px;
  }

  .main-nav__toggle {
    display: none;
  }
}

.site-list__item {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1;
  text-align: center;
  border-top: 1px solid #f2f2f2;
}

.site-list__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.site-list__link:hover,
.site-list__link:active {
  opacity: 0.7;
}

.main-header--green .site-list__link {
  color: #ffffff;
}

@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .site-list__item {
    margin-right: 10px;
    border-top: none;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item:nth-child(2) {
    margin-left: auto;
  }

  .site-list__link {
    position: relative;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
  }

  .site-list__link--catalog {
    padding-right: 20px;
  }

  .site-list__link--catalog::before,
  .site-list__link--catalog::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 14px;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease 0s;
  }

  .site-list__link--catalog::after {
    transform: rotate(90deg);
  }

  .site-list__link--active::before {
    transform: rotate(45deg);
  }

  .site-list__link--active::after {
    transform: rotate(135deg);
  }
}

@media (min-width: 1280px) {
  .site-list__item {
    margin-right: 19.5px;
  }
}

@media (min-width: 768px) {
  .submenu-list {
    position: absolute;
    display: flex;
    justify-content: flex-start;
  }

  .submenu-list__item {
    margin-right: 20px;
  }

  .submenu-list__link {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }

  .submenu-list__link:hover,
  .submenu-list__link:active {
    opacity: 0.7;
  }

  .main-header--green .submenu-list {
    position: static;
    padding-bottom: 7px;
  }
}

.logo {
  display: inline-block;
}

.logo__text {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
  }

  .logo__img {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #ffffff;
  }

  .logo__text {
    display: inline;
    font-size: 12px;
    line-height: 1.4;
    color: #ffffff;
  }
}

.phone__link {
  display: block;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
}

.phone__text {
  font-size: 13px;
  font-weight: 300;
}

.address {
  line-height: 1;
  color: #ffffff;
}

.address__title {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: inherit;
}

.address__location {
  font-size: 12px;
  font-weight: 400;
  color: inherit;
  border-bottom: 1px dotted white;
}

.main-footer {
  position: relative;
  color: #bbbbbb;
  background-color: #1c1c1c;
  background-image: url("/img/map-pattern-footer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 390px 220px;
}

.main-footer__title {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
}

.main-footer__title:after {
  content: '';
  display: block;
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background-color: #4db6ac;
}

@media (min-width: 768px) {
  .footer-about {
    display: block;
  }

  .main-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .main-footer__about {
    width: 48%;
  }

  .main-footer__contacts {
    width: 48%;
  }
}

@media (min-width: 1280px) {
  .main-footer__about {
    width: 32%;
  }

  .main-footer__contacts {
    width: 32%;
  }

  .main-footer__feedback {
    width: 32%;
  }
}

.copyright {
  position: relative;
  padding: 18px 0;
  text-align: center;
  color: #cccccc;
  background: #131313;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-list__item {
  margin-right: 5px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 500ms ease;
}

.social-list__link:hover {
  background-color: #4db6ac;
}

.social-list__icon {
  width: 18px;
  fill: #FFFFFF;
}

.footer-contacts {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-contacts__list {
  margin-bottom: 20px;
}

.footer-contacts-list__item {
  margin-bottom: 10px;
  line-height: 1;
}

.footer-contacts-list__item:last-child {
  margin-bottom: 0;
}

.footer-contacts-list__link {
  color: #bbbbbb;
}

.footer-contacts-list__link:hover,
.footer-contacts-list__link:active {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .footer-contacts__social {
    display: none;
  }
}

.footer-about {
  display: none;
}

@media (min-width: 768px) {
  .footer-about {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .footer-about__social {
    display: none;
  }

  .footer-about__text {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .footer-about__social {
    display: flex;
  }
}

.footer-feedback {
  display: none;
}

@media (min-width: 1280px) {
  .footer-feedback {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .footer-feedback__subtitle {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .footer-feedback-form__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 10px 40px 10px 25px;
    font-size: 14px;
    line-height: 48px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    border-radius: 24px;
    transition: all 500ms ease;
  }

  .footer-feedback-form__input:hover,
  .footer-feedback-form__input:focus {
    outline: none;
    border-color: #4db6ac;
  }

  .footer-feedback-form__form-group {
    position: relative;
  }
}

.send-btn {
  position: absolute;
  right: 10px;
  top: 0;
  width: 50px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: #ffffff80;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.send-btn__ico {
  height: 16px;
  width: 16px;
  fill: rgba(255, 255, 255, 0.2);
}

.send-btn:hover .send-btn__ico,
.send-btn:focus .send-btn__icog,
.send-btn:active .send-btn__ico {
  fill: #4db6ac;
}

.send-btn__ico.active {
  fill: #4db6ac;
}

.section {
  padding: 30px 0;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .section {
    padding: 80px 0;
  }

  .section__title {
    margin-bottom: 40px;
  }
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.products-breadcrumbs {
  margin-bottom: 60px;
}

.breadcrumbs-list__link {
  font-weight: 300;
  line-height: 24px;
  color: #777777;
}

.breadcrumbs-list__link:hover,
.breadcrumbs-list__link:active {
  opacity: 0.7;
}

.breadcrumbs-list__item {
  position: relative;
}

.breadcrumbs-list__item:not(:last-child) {
  position: relative;
  margin-right: 16px;
  padding-right: 22px;
}

.breadcrumbs-list__item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 5px;
  height: 7px;
  margin-top: -2px;
  background-color: transparent;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-list__item:last-child .breadcrumbs-list__link {
  color: #000000;
  pointer-events: none;
}

.question-form {
  text-align: center;
}

@media (min-width: 768px) {
  .question-form {
    margin-bottom: 60px;
    text-align: left;
  }

  .question-form__form-group {
    display: flex;
    justify-content: space-between;
  }

  .question-form__form-group p {
    flex: 0 32%;
    margin: 0;
  }
}

.callback {
  text-align: center;
}

.callback__form {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.callback__text {
  margin-bottom: 40px;
}

.owl-carousel--product-videos .owl-item {
  transform: scale(0.82, 0.8);
  opacity: .6;
  transition: all .3s ease;
}

.owl-carousel--product-videos .owl-item.active.center {
  width: 380px;
  opacity: 1;
  transform: scale(1, 1);
}

.owl-carousel--product-videos .owl-dots {
  margin-top: 20px;
}

.product-videos__link {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.product-videos__item--title {
  margin: 0;
  padding-right: 24px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #777777;
}

.contacts-table {
  width: 100%;
  border-collapse: collapse;
}

.contacts-table__tr:nth-child(odd) {
  background-color: rgba(51, 51, 51, 0.03);
}

.contacts-table__td {
  padding: 5px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  color: #000000;
  border: 1px solid #999;
}

.convert-currency {
  display: none;
}

@media (min-width: 768px) {
  .convert-currency {
    position: fixed;
    right: 0;
    bottom: 2.5%;
    display: block;
    z-index: 9999;
  }
}

.index__section-header {
  margin-top: -107px;
  z-index: 0;
}

@media (min-width: 768px) {

  .index__section-header {
    margin-top: -180px;
  }

}

.section-header {
  position: relative;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-align: center;
  background: url("/img/caption-image.jpg") no-repeat center top;
  background-size: cover;
  overflow: hidden;
}

.section-header__container {
  padding-top: 135px;
  padding-bottom: 30px;
}

.section-header__title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

.section-header__title:after {
  content: '';
  display: block;
  width: 100px;
  height: 2px;
  margin: 15px auto;
  background-color: #ffffff;
}

.section-header__subtitle {
  margin-top: 20px;
  font-size: 14px;
}

.section-header__text {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.section-header__video {
  display: none;
}

@media (min-width: 768px) {
  .section-header__container {
    padding-top: 175px;
    padding-bottom: 70px;
  }
}

@media (min-width: 1280px) {
  .section-header__container {
    padding-top: 200px;
    padding-bottom: 120px;
  }

  .section-header__title {
    font-size: 32px;
    line-height: 1.2;
  }

  .section-header__video {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
  }

  .section-header__video iframe {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .section-header__video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

.title-bg {
  position: relative;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.title-bg::after {
  content: '';
  display: block;
  width: 100px;
  height: 1px;
  margin: 15px auto;
  background-color: #4db6ac;
}

.title-bg--about::after {
  background-color: #ffffff;
}

.title-bg__bg-text {
  position: absolute;
  bottom: 12px;
  left: 50%;
  font-weight: 800;
  font-size: 34px;
  color: #333333;
  text-transform: uppercase;
  opacity: 0.03;
  transform: translateX(-50%);
  z-index: -1;
}

@media (min-width: 768px) {
  .title-bg__bg-text {
    bottom: 12px;
    font-size: 38px;
  }
}

@media (min-width: 1280px) {
  .title-bg__bg-text {
    bottom: 10px;
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features-item {
  padding: 20px 0;
  text-align: center;
}

.features-item__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border: 2px solid #4db6ac;
  border-radius: 50%;
  z-index: 1;
}

.features-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.features-item__text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.4;
  color: #777777;
}

@media (min-width: 768px) {
  .features-item {
    width: 48%;
  }

  .features-item:hover,
  .features-item:active {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1280px) {
  .features-item {
    width: 32%;
    padding: 40px 40px;
  }

  .features-item__circle {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  .features-item__title {
    font-size: 15px;
  }

  .features-item__text {
    font-size: 13px;
  }
}

.about {
  color: #fff;
  background-image: linear-gradient(to right, #73e2d8, #4db6ac);
}

.about__img {
  display: none;
}

.about__item {
  margin-bottom: 10px;
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__item::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  vertical-align: middle;
  background-image: url(/img/right.svg);
  background-size: cover;
}

.about__text {
  font-size: 16px;
  font-weight: 500;
}

.section-works {
  min-height: 380px;
}

.section-works__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-works__btn {
  margin-top: auto;
}

.owl-carousel--works {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.owl-carousel--works .owl-dots {
  margin-top: 75px;
}

.owl-carousel--works .owl-nav {
  display: none;
}

.image-mock {
  position: absolute;
  top: -10px;
  left: 50%;
  width: 280px;
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 3px;
  overflow: hidden;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .owl-carousel--works {
    width: 400px;
  }

  .owl-carousel--works .owl-dots {
    margin-top: 115px;
  }

  .image-mock {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .section.section-works {
    padding-bottom: 40px;
  }

  .owl-carousel--works {
    width: 100%;
    margin-bottom: 115px;
  }

  .owl-carousel--works .owl-item {
    transform: scale(0.82, 0.8);
    opacity: .6;
    transition: all .3s ease;
  }

  .section-works__wrapper {
    position: relative;
  }

  .owl-carousel--works .active.center {
    width: 380px;
    opacity: 1;
    transform: scale(1, 1);
  }
}

.section-news {
  text-align: center;
}

.news-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.news-list__item {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 2%;
  padding: 15px 15px;
  background: #f8f8f8;
  box-sizing: border-box;
}

.news-list__inner {
  position: relative;
  display: block;
  min-height: 80px;
  text-align: left;
}

.news__date {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.news__date br {
  display: none;
}

.news__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
}

.news__link {
  color: #000000;
}

.news__more-link {
  color: #888888;
}

.news__more-link:hover,
.news__more-link:focus {
  color: #4db6ac;
}

.news__meta {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  color: #888888;
  vertical-align: middle;
  -webkit-transition: all .3s ease;
}

.news__text {
  margin: 0;
  font-size: 14px;
}

.news__content {
  margin-bottom: 40px;
  font-size: 14px;
}

.news__img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: #888888;
}

.news-list__item:hover .news__img,
.news-list__item:hover .news__meta,
.news-list__item:hover .news__date {
  color: #4db6ac;
  border-color: #4db6ac;
  fill: #4db6ac;
}

.page-news-list .news-list__item {
  width: 100%;
}

.news-item__date {
  margin-bottom: 10px;
  font: 14px;
  color: #888888;
}

@media (min-width: 768px) {
  .news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news-list__item {
    width: 49%;
  }
}

@media (min-width: 1280px) {
  .news-list__item {
    padding: 22px 40px;
  }

  .news-item--index:nth-child(3) {
    margin-bottom: 0;
  }

  .news-item--index:nth-child(4) {
    margin-bottom: 0;
  }

  .news-list__inner {
    padding-left: 110px;
  }

  .news__date {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 80px;
    height: 80px;
    padding: 20px 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    border: 1px solid #1a1a1a;
    box-sizing: border-box;
    -webkit-transition: all .3s ease;
  }

  .news__date br {
    display: block;
  }

  .news__title {
    font-size: 16px;
    line-height: normal;
  }
}

.product-info__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

.product-info__btn {
  width: 100%;
  text-align: center;
}

.product-item__title {
  margin-bottom: 10px;
}

.product-item__price {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  color: #4db6ac;
}

.product-info__price {
  text-transform: uppercase;
  font-weight: 500;
  color: #4db6ac;
}

@media (min-width: 1280px) {
  .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .product__img,
  .product__info {
    width: 48%;
    margin-bottom: 2%;
  }

  .product__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-info__small_desc {
    padding: 0;
    font-size: 14px;
    line-height: 1.4;
    color: #777777;
  }

  .product-advantage-list {
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #777777;
  }

  .product-advantage-list__item {
    position: relative;
    margin-bottom: 5px;
  }
}

.video-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 300;
}

.video-list__item {
  margin-bottom: 25px;
}

.video-item__img {
  max-width: none;
  width: 100%;
}

.video-item__link {
  margin-bottom: 10px;
}

.video-list__title {
  margin: 0;
  padding-right: 24px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #777777;
}

@media (min-width: 768px) {
  .video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .video-list__item {
    width: 48%;
    margin-bottom: 1%;
    padding: 10px 5px;
  }
}

@media (min-width: 1280px) {
  .video-list__item {
    width: 24%;
  }
}

.video-item__link {
  position: relative;
  display: block;
}

.video-item__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.video-item__ico {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1000;
  cursor: pointer;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.video-item__ico {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1000;
  height: 60px;
  width: 60px;
}

.video-item__ico .stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  transition: opacity 1s ease, stroke-width 1s ease;
}

.video-item__ico .stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
}

.video-item__ico .icon {
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

.video-item__ico:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}

.video-item__ico:hover .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}

.video-item__ico:hover .icon {
  transform: scale(1.05);
}

.customer-service__section {
  margin-bottom: 40px;
}

.customer-service-consult {
  text-align: center;
}

.customer-service-consult__question-form {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.supplied-equipment__item {
  margin-bottom: 40px;
}

.supplied-equipment__item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .supplied-equipment__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .supplied-equipment__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 0;
  }

  .supplied-equipment__item:last-child {
    margin-right: 0;
  }

  .supplied-equipment-item__btn {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: auto;
  }
}

.supplied-equipment-item {
  text-align: center;
}

.supplied-equipment-item__img {
  padding: 30px;
}

@media (min-width: 768px) {
  .customer-service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.customer-service-item {
  padding: 20px 0;
  text-align: center;
}

.customer-service-item__circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  border: 2px solid #4db6ac;
  border-radius: 50%;
  z-index: 1;
}

.customer-service-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .customer-service-item {
    width: 24%;
    margin-bottom: 30px;
  }

  .customer-service-item:hover,
  .customer-service-item:active {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  }
}

.quote {
  font-size: 16px;
  padding: 2px 0 2px 15px;
  margin-bottom: 30px;
  border-left: 3px solid #4db6ac;
}

.supply-map {
  padding: 0;
}

.supply-map__svg {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.supply-map__title {
  margin: 0;
  font-size: 26px;
  line-height: 1;
  color: #4db6ac;
  text-align: center;
}

@media (min-width: 768px) {
  #svg-map {
    width: 800px;
    height: auto;
  }

  .supply-map__wrapper {
    position: relative;
  }

  .supply-map__subtitle {
    margin: 0;
    font-size: 16px;
  }

  .supply-map__title {
    margin: 0;
    font-size: 26px;
    line-height: 1;
    color: #4db6ac;
  }

  .supply-map__content {
    position: absolute;
    top: 60px;
    left: 640px;
  }
}

.event__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.event__img {
  width: 90px;
  height: 60px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.event__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.event__inner {
  width: calc(100% - 110px);
}

.event__title {
  margin: 0;
  font-size: 12px;
  line-height: 1.2;
}

.event-feed {
  display: none;
}

@media (min-width: 1280px) {
  .event-feed__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .event-feed {
    display: block;
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.catalog-btn {
  display: none;

  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 20px;
  line-height: 1;
  font-weight: 400;
  color: #ffffff;
  background-color: #e3b92d;
  border-radius: 3px;
  border: 1px solid #e3b92d;
  transition: all 0.3s ease-in-out;
}

.catalog-btn:hover,
.catalog-btn:focus {
  background-color: transparent;
  border: 1px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

.catalog-btn:active {
  background-color: #e3b92d;
  border: 1px solid #e3b92d;
}

.catalog-btn:hover .catalog-btn__svg {
  -webkit-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.catalog-btn__text {
  margin-right: 8px;
}

@media (min-width: 1280px) {
  .catalog-btn {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */