// Colors
$color-green: #4db6ac;
$color-grey: #f8f8f8;
$color-grey-second: #cccccc;
$color-grey-third: #777777;
$color-grey-fourth: #f2f2f2;
$color-grey-five: #bbbbbb;
$color-black: #131313;
$color-black-second: #1c1c1c;

// Screen Size
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
