@use "../../abstract" as var;

.press-promo-request__title {
    margin: 0;

    color: var.$brand-success;
    font-size: 16px;
}

.press-promo-request__mail {
    display: block;

    text-decoration: underline;
    color: var.$brand-black;
    font-size: 14px;
}

.press-promo-request__phone {
    color: var.$brand-black;
    font-size: 14px;
}