@use './../../../scss/abstract' as var;

.logoText {
    display: none;
}

@include var.tablet-size {

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .logoImg {
        flex-shrink: 0;
        
        margin-right: 15px;
        padding-right: 15px;

        border-right: 1px solid #ffffff;
    }

    .logoText {
        display: inline;

        font-size: 12px;
        line-height: 1.4;
        color: #ffffff;
    }
}