@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 300;
    src: local("OpenSansLight"),
        url("../fonts/opensanslight.woff2") format('woff2'),
        url("../fonts/opensanslight.woff") format('woff');
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: local("OpenSansRegular"),
        url("../fonts/opensans.woff2") format('woff2'),
        url("../fonts/opensans.woff") format('woff');
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    src: local("OpenSansSemibold"),
        url("../fonts/opensanssemibold.woff2") format('woff2'),
        url("../fonts/opensanssemibold.woff") format('woff');
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 700;
    src: local("OpenSansBold"),
        url("../fonts/opensansbold.woff2") format('woff2'),
        url("../fonts/opensansbold.woff") format('woff');
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 800;
    src: local("OpenSansExtraBold"),
        url("../fonts/opensansextrabold.woff2") format('woff2'),
        url("../fonts/opensansextrabold.woff") format('woff');
}