.customer-service__section {
  margin-bottom: 40px;
}

.customer-service-consult {
  text-align: center;
}

.customer-service-consult__question-form {
  max-width: $tablet-width;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
