.supplied-equipment__item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

@include tablet-size {
  .supplied-equipment__list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  .supplied-equipment__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .supplied-equipment-item__btn {
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: auto;
  }
}
